In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
# Customers

In [7]:
df_og = pd.read_csv('./Data/AGU_Backend.csv')

In [9]:
df_2022 = pd.read_csv('./Data/orders_2022.csv',encoding='latin1')

In [10]:
df_2022.head()

,ID,Purchase Point,Purchase Date,Bill-to Name,Ship-to Name,Grand Total (Base),Grand Total (Purchased),Status,Billing Address,Shipping Address,...,Company Name,Pickup Location Code,Allocated sources,Order Comment,CE Channel,CE Channel Order No,Channable ID,Marketplace ID,Marketplace Name,Marketplace Label
0,6000000001,AGUWebGermany Germany Deutsch,"Aug 6, 2019 08:04:31 PM",Alissa Mocken,Alissa Mocken,159.97,159.97,Complete,"Lüttelforst\n35,Schwalmtal,Nordrhein-Westfalen...","Lüttelforst\n35,Schwalmtal,Nordrhein-Westfalen...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6000000010,AGUWebGermany Germany Deutsch,"Aug 17, 2019 08:14:37 PM",Sven Erdelmann,Sven Erdelmann,109.99,109.99,Complete,"Humboldtstr.\n12,Mettmann,Nordrhein-Westfalen,...","Humboldtstr.\n12,Mettmann,Nordrhein-Westfalen,...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6000000011,AGUWebGermany Germany Deutsch,"Aug 18, 2019 03:15:16 PM",Katrin Oldag,Katrin Oldag,40.49,40.49,Complete,"Heckscherstraße \n54,Hamburg,Hamburg,20253","Heckscherstraße \n54,Hamburg,Hamburg,20253",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6000000014,AGUWebGermany Germany Deutsch,"Aug 21, 2019 11:21:29 AM",Patollis GmbH Beier,Patollis GmbH Beier,65.48,65.48,Complete,"Sendlinger Str. \n62,München,Bayern,80331","Sendlinger Str. \n62,München,Bayern,80331",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6000000019,AGUWebGermany Germany Deutsch,"Aug 22, 2019 03:04:15 PM",Victor Roodhorst,Victor Roodhorst,35.49,35.49,Closed,"Mehringdamm\n34,Berlin,10405","Mehringdamm\n34,Berlin,10405",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df = df_og.copy()
df2 = df_2022.copy()

In [12]:
%run ./cohorts_pipeline_agu.py

In [13]:
df2 = first_order(df2)

In [37]:
# Cohorts

In [14]:
transactions, cohorts = cohorts_pipeline(df2)

In [15]:
cohorts.head()

cohort_period,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
first_order_ym,,,,,,,,,,,,,,,,,,,,,
2019-08,0.222222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-09,0.015873,0.023810,0.015873,0.015873,0.007937,0.00000,0.007937,0.0,0.000000,0.000000,...,0.007937,0.00000,0.000000,0.000000,0.007937,0.015873,0.023810,0.000000,0.007937,0.015873
2019-10,0.041475,0.027650,0.004608,0.009217,0.009217,0.00000,0.004608,0.0,0.004608,0.004608,...,0.000000,0.00000,0.004608,0.018433,0.004608,0.004608,0.050691,0.009217,NaN,NaN
2019-11,0.077720,0.051813,0.010363,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.005181,...,0.000000,0.00000,0.000000,0.015544,0.031088,0.010363,0.000000,0.005181,NaN,NaN
2019-12,0.031250,0.043750,0.031250,0.006250,0.006250,0.00625,0.000000,0.0,0.000000,0.000000,...,0.000000,0.00625,0.000000,0.006250,0.006250,0.031250,NaN,NaN,NaN,NaN

In [16]:
transactions

         New_Trans  Ret_Trans    New_Rev    Ret_Rev     AOV_New     AOV_Ret
date_ym
2019-08          9          2     743.60     115.69   82.622222   57.845000
2019-09        126          2   13152.82     126.43  104.387460   63.215000
2019-10        217         12   29210.61    1361.87  134.611106  113.489167
2019-11        193         23   28221.56    2088.17  146.225699   90.790000
2019-12        160         18   21515.13    2644.04  134.469562  146.891111
2020-01        113         21   17557.26    2979.06  155.373982  141.860000
2020-02        158         17   20697.01    2323.81  130.993734  136.694706
2020-03        108         17   15091.05    2535.29  139.731944  149.134706
2020-04        167         16   24342.17    1868.27  145.761497  116.766875
2020-05        321         32   46138.49    3918.74  143.733614  122.460625
2020-06        471         62   55830.20    9023.17  118.535456  145.535000
2020-07        505         65   50182.65    6900.63   99.371584  106.163538
2020-08        432         59   52607.54    7763.46  121.776713  131.584068
2020-09        757        140  119767.51   21613.04  158.213355  154.378857
2020-10       1494        283  272455.06   50822.14  182.366171  179.583534
2020-11        650        147   96005.57   21726.52  147.700877  147.799456
2020-12        446         83   55781.84   13520.66  125.071390  162.899518
2021-01        462        128   76896.69   20893.65  166.443052  163.231641
2021-02        989        212  146262.69   30141.47  147.889474  142.176745
2021-03        664        213   94881.04   34615.01  142.893133  162.511784
2021-04       1773        504  303330.46   92588.92  171.083170  183.708175
2021-05       1459        344  199645.93   49998.75  136.837512  145.345203
2021-06        933        290  120790.40   37603.61  129.464523  129.667621
2021-07       1109        275  132098.20   38105.18  119.114698  138.564291
2021-08       1064        349  144411.16   46852.94  135.724774  134.249112
2021-09       1323        316  190043.36   49307.45  143.645775  156.036234
2021-10       1959        613  391879.21  116488.03  200.040434  190.029413
2021-11       2253        713  365998.92  124561.44  162.449587  174.700477
2021-12       1686        599  249860.73   91934.44  148.197349  153.479866
2022-01        960        476  147499.19   81479.53  153.644990  171.175483

In [17]:
transactions = transactions.astype(int)

In [18]:
transactions.to_clipboard()

In [19]:
cohorts = cohorts.astype(str)

In [20]:
cohorts = cohorts.apply(lambda x: x.str.replace('.',','))
cohorts = cohorts.apply(lambda x: x.str.replace('nan',''))

In [21]:
cohorts.to_clipboard()